.search-input-container {
  position: relative;
  letter-spacing: 0.01rem;
}

.search-input {
  width: 12rem;
  padding-left: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  border: 2px solid #0B2447;
  border-top: none;
  border-bottom: none;
  font-size: 0.8rem;
  background: transparent;
  outline: none;
  box-shadow: 0.4rem 0.4rem 0px 0px #0B2447;
  transition: all 0.5s;
  color: #0B2447;
}

.search-input:focus {
  box-shadow: none;
  transition: all 0.5s;
}

.search-label {
  position: absolute;
  top: 0.8rem;
  left: 0.8rem;
  color: #0B2447;
  transition: all 0.5s;
  transform: scale(0);
  /* z-index: -1; */
}

.search-input-container .search-topline {
  position: absolute;
  content: "";
  background-color: #0B2447;
  width: 0%;
  height: 0.125rem;
  right: 0;
  top: 0;
  transition: all 0.5s;
}

.search-input-container input[type="text"]:focus~ .search-topline {
  width: 35%;
  transition: all 0.5s;
}

.search-input-container .search-underline {
  position: absolute;
  content: "";
  background-color: #0B2447;
  width: 0%;
  height: 0.125rem;
  right: 0;
  bottom: 0;
  transition: all 0.5s;
}

.search-input-container input[type="text"]:focus~ .search-underline {
  width: 100%;
  transition: all 0.5s;
}

.search-input-container input[type="text"]:focus~ .search-label {
  top: -0.625rem;
  transform: scale(1);
  transition: all 0.5s;
}