.learn-more {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    margin-top: 3vh;
    margin-left: 1.5vw;
    font-size: 1.1vw;
    font-family: Poppins, Arial, sans-serif;
    width: 12vw;
    height: 3.2vh;
    transform: scale(1.2);
}

button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 2.8vw;
    height: 2.8vw;
    background: #141414;
    border-radius: 2vw;
}

button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #a78bfa;
}

button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625vw;
    width: 1.125vw;
    height: 0.125vw;
    background: none;
}

button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29vw;
    right: 0.0625vw;
    width: 0.625vw;
    height: 0.625vw;
    border-top: 0.125vw solid #a78bfa;
    border-right: 0.125vw solid #a78bfa;
    transform: rotate(45deg);
}

button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: -0.2vw;
    left: 0.75vw;
    right: 0;
    bottom: 0;
    padding: 0.75vw 0;
    margin: 0 0 0 1.85vw;
    color: #fff;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

.learn-more:hover .circle {
    width: 100%;
}

.learn-more:hover .circle .icon.arrow {
    background: #a78bfa;
    transform: translate(1vw, 0);
}

.learn-more:hover .button-text {
    color: #a78bfa;
}


.homepage-icon {
    width: 27vw;
    height: 27vw;
}

.logo {
    width: 2vw;
    cursor: pointer;
}

.button-text {
    letter-spacing: 0.3vw;
}