
/* The switch - the box around the slider */
.switch {
    /* Variables */
    --switch_width: 2em;
    --switch_height: 1em;
    --thumb_color: rgb(8, 116, 8);
    --track_color: #e8e8e8;
    --track_active_color: #888;
    --outline_color: #000;
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: var(--switch_width);
    height: var(--switch_height);
}

/* Hide default HTML checkbox */
.switch .input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    box-sizing: border-box;
    border: 0.125rem solid var(--outline_color);
    position: absolute;
    cursor: pointer;
    top: 0.4rem;
    left: 0;
    right: 0;
    bottom: -0.45rem;
    transition: .15s;
    border-radius: var(--switch_height);
    transform: scale(1.4);
}

.slider:before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    height: var(--switch_height);
    width: var(--switch_height);
    border: 2px solid var(--outline_color);
    border-radius: 100%;
    left: -0.12rem;
    bottom: -0.12rem;
    background-color: var(--thumb_color);
    transform: translateY(-0.2em);
    box-shadow: 0 0.2em 0 var(--outline_color);
    transition: .15s;
}

.input:checked+.slider {
    background-color: var(--track_active_color);
}

.input:focus-visible+.slider {
    box-shadow: 0 0 0 0.125px var(--track_active_color);
}

/* Raise thumb when hovered */
.input:hover+.slider:before {
    transform: translateY(-0.3em);
    box-shadow: 0 0.3em 0 var(--outline_color);
}

.input:checked+.slider:before {
    transform: translateX(calc(var(--switch_width) - var(--switch_height))) translateY(-0.2em);
    background-color: rgb(207, 160, 4);
}

/* Raise thumb when hovered & checked */
.input:hover:checked+.slider:before {
    transform: translateX(calc(var(--switch_width) - var(--switch_height))) translateY(-0.3em);
    box-shadow: 0 0.3em 0 var(--outline_color);
}


/* Radio */
.radio-buttons-container {
    display: flex;
    align-items: center;
    gap: 1.8rem;
    font-family: SilkScreen;
}

.radio-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.radio-button__input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.radio-button__label {
    display: inline-block;
    padding-left: 2rem;
    margin-bottom: 1rem;
    position: relative;
    font-size: 1.1rem;
    color: #000;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.radio-button__custom {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    border: 0.13rem solid #555;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.radio-button__input:checked+.radio-button__label .radio-button__custom {
    transform: translateY(-50%) scale(0.95);
    border: 0.3rem solid #52c41a;
    color: #52c41a;
}

.radio-button__input:checked+.radio-button__label {
    color: #52c41a;
}

.radio-button__label:hover .radio-button__custom {
    transform: translateY(-50%) scale(1.2);
    border-color: #52c41a;
    box-shadow: 0 0 1rem #52c41a;
}

