* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    margin-top: 2vw;
}

.text {
    font-family: Poppins;
    font-size: 0.85rem;
}

.card {
    display: block;
    align-items: center;
    justify-content: center;
    font-family: Poppins;
    height: 19rem;
}